@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.body-container {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    top: 50px;
    z-index: 20;
}

.map_container {
    height: 70vh;
    width: 100%;
    background: #e2efef;
}

.toolbar {
    height: 50px; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 30; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #11101d; /* Black */
    color: white;
    padding: 6px 14px;
}

.toolbar li div { /* FIXME */
    left: 20px;
}

.toolbar .dropdown { /* FIXME */
    left: 50px;
    z-index: 30;
}

.loading_screen {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
}
.loading_screen img {
    /* center vertically */
    top: 60%;
    -ms-transform: translateY(60%);
    transform: translateY(60%);
    /* center horizontally */
    text-align: center;
}

/* Colors for Shapes section */
.orange_text{
    color: orange;
}
.green_text {
    color: green;
}
.blue_text {
    color: blue;
}
.red_text {
    color: red;
}
.black_text {
    color: black;
}

.h_menu {
    margin-top: 12px;
}
