<!DOCTYPE html>
<html lang="en">
  <!-- {% load i18n static %} -->
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/shapeeditor/favicon.ico' %}" />
    <title>Shape Editor - Alpha</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- CSS Bootstrap and OpenLayers style lib -->
    <link
      href="{% static '/shapeeditor/css/main_style.css' %}"
      rel="stylesheet"
    />

  </head>
  <body>
    <div id="loading_screen" class="loading_screen">
        <div class="loading_animation_section">
            <div class="loading_box" style="animation-delay: -0.75s;"></div>
            <div class="loading_box" style="animation-delay: -0.50s;"></div>
            <div class="loading_box" style="animation-delay: -0.25s;"></div>
            <div class="loading_box" style="animation-delay: 0s;"></div>
        </div>
    </div>

    {% block content %}{% endblock %}

  </body>
  <footer>
    {% block customjs %}{% endblock %}

    <!-- Map GTFS elements -->
    <script src="{% static '/shapeeditor/js/main.bundle.js' %}"></script>

    <!-- JavaScript Bundle for vendor deps [Bootstrap,] -->
    <script src="{% static '/shapeeditor/js/main_style.bundle.js' %}"></script>
  </footer>
</html>
