<!-- {% verbatim %} -->
<div class="accordion" id="accordion_map">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading_map">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse_map"
        aria-expanded="true"
        aria-controls="collapse_map"
      >
        Show/Hide Map
      </button>
    </h2>
    <div
      class="accordion-collapse collapse show"
      id="collapse_map"
      aria-labelledby="heading_map"
      data-bs-parent="#accordion_map"
    >
        <div class="accordion-body">

        <div id="fullscreen-view" class="fullscreen">
          <!-- OpenLayers + OpenStreetMap -->
          <div tabindex="1" id="map_container" class="map_container">
          </div>

          <div :class="['map_sidebar', shape_valid_waypoints_list.length ? mapSidebar : '']">
            <div class="map_sidebar_body">
                <div v-for="waypoint in shape_valid_waypoints_list">
                    <button class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                        </svg>
                        Add Node ID: {{ waypoint }}
                    </button>
                </div>
                <div class="map_sidebar_selected_waypoints">
                    Waypoints in Shape {{ selected_shape }}:
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- {% endverbatim %} -->
