<!-- {% verbatim %} -->
<div id="popup_node_info" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content">
    Node ID: {{ popup_content.id }}<br />
    <label for="ol_node_type">Node type: </label>
    <select id="ol_node_type" name="ol_node_type" v-model="popup_content.type">
      <option value="fork">Intersection</option>
      <option v-if="popup_content.connections < 3" value="waypoint">
        Waypoint
      </option>
      <option v-if="popup_content.connections < 3" value="stop">Stop</option>
      <option v-if="popup_content.connections < 3" value="endpoint">
        Endpoint
      </option>
    </select>

    <div v-show="popup_node_type_is_stop">
      <label for="ol_in_stop_id">Stop ID: </label>
      <input
        type="text"
        id="ol_in_stop_id"
        name="ol_in_stop_id"
        placeholder="Stop ID"
        :value="popup_content.stop_info.stop_id"
      />
      <label for="ol_in_stop_name">Stop name: </label>
      <input
        type="text"
        id="ol_in_stop_name"
        name="ol_in_stop_name"
        placeholder="Stop Name"
        :value="popup_content.stop_info.stop_name"
      />
    </div>

    <button @click="changeNodeInfoFromPopup(popup_content.id)">save</button>
  </div>
</div>
<!-- {% endverbatim %} -->
