{% comment %}
<!--
     Shapes section just below the map there is a nav bar tab style, the
     shapes button shows this template code, an accordion with each shape ID
     contains the shape info: shape ID, start node, end node, and the waypoints
     (if those exists)
-->
{% endcomment %}
<!-- {% verbatim %} -->
<!-- SHAPES -->
<div
    :class="['tab-pane',
            'fade',
            currentActiveSection === 'shapes' ? 'active' : '',
            currentActiveSection === 'shapes' ? 'show' : ''
            ]"
    id="nav-shapes"
    role="tabpanel"
    aria-labelledby="nav-shapes-tab"
>
  <div class="container shapes-section-menu">
    <div class="row">
      <div class="col">
        <label class="form-label" for="file_gtfs_shapes_input"
          >Upload shapes.txt file</label
        ><br />
        <input
          type="file"
          class="form-control disabled"
          accept="plain/text,.txt"
          id="file_gtfs_shapes_input"
          name="file_gtfs_shapes_input"
          disabled
        />
      </div>
      <div class="col">
        <label class="form-label" for="file_gtfs_shapes_output"
          >Download shapes.txt file</label
        ><br />
        <button
          class="btn btn-primary form-control"
          id="file_gtfs_shapes_output"
          name="file_gtfs_shapes_output"
          @click="downloadShapesLocally()"
        >
          Save
        </button>
      </div>
      <div class="col">
          <label class="form-label" for="file_gtfs_shapes_output"
          >Push shapes to database</label
                                   ><br />
          <button
              class="btn btn-primary form-control"
              id="push_shapes_to_db"
              name="push_shapes_to_db"
              @click="pushShapesToDB()"
          >
              Save
          </button>
      </div>
    </div>
  </div>

  <!-- Add new Shape -->
  <hr/>
  <div class="se-add-new-item-menu container">
      <div class="row">
          <div class="col">
              <div class="row">
                  <!-- Shape ID for the new shape -->
                  <label for="new_shape_name se-input-margin">Add a new shape</label>
                  <input class="form-control se-input-margin"
                         name="new_shape_name"
                         type="text"
                         v-model="shape_id_on_newshape"
                         placeholder="New shape ID"/>

                  <!-- start node ID select -->
                  <select v-model="begin_node_on_newshape"
                          class="form-select se-input-margin"
                          aria-label="Default select example">
                      <option value="null" selected>Select an endpoint node ID as start node</option>
                      <option v-for="endpoint in endpoints_id_list"
                              :value="endpoint">Start node ID: {{ endpoint }} </option>
                  </select>

                  <!-- destination node ID -->
                  <select v-model="end_node_on_newshape"
                          class="form-select se-input-margin"
                          aria-label="Default select example">
                      <option value="null" selected>Select an endpoint node ID as end node</option>
                      <option v-for="endpoint in endpoints_id_list"
                              :value="endpoint">End node ID: {{ endpoint }} </option>
                  </select>
                  <button
                      class="btn btn-success se-input-margin"
                      @click="addNewShape()">Add new Shape</button>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <!-- TODO -->
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <!-- Shape ID for the shape to delete -->
                  <label for="to_delete_shape_name se-input-margin">Delete a shape</label>
                  <select name="to_delete_shape_name"
                          class="form-select se-input-margin"
                          aria-label="Default select example"
                          >
                      <option value="null" selected>Select a Shape ID</option>
                      <option v-for="shape in rev_shapes"
                              :value="shape.getID()">Shape ID: {{ shape.getID() }} </option>
                  </select>
                  <button
                      class="btn btn-danger se-input-margin"
                      @click="removeShape()">Delete Shape</button>
              </div>
          </div>
      </div>
  </div>

  <!-- END Add new Shape -->

  <div class="accordion se-accordion-top-sp" id="accordion_shape_section">
    <div v-for="shape in rev_shapes">
      <div class="accordion-item">
        <h2 class="accordion-header" :id="'heading'+shape.getID()">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="'#collapse'+shape.getID()"
            aria-expanded="false"
            :aria-controls="'collapseTwo'+shape.getID()"
            @click="selectShape($event, shape.getID())"
          >
            <strong>Shape ID>> </strong> {{ shape.getID() }}
          </button>
        </h2>
        <div
          :id="'collapse'+shape.getID()"
          class="accordion-collapse collapse"
          :aria-labelledby="'heading'+shape.getID()"
          data-bs-parent="#accordion_shape_section"
        >
            <!-- There are all the shapes already registered in the SEG OBJ -->
          <div class="accordion-body">
            <div class="container">
              <div class="row">
                <div class="col se-col-min-width">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button
                        class="btn btn-success"
                        @click="updateShapeByID(shape.getID())"
                      >
                        save
                      </button>
                    </li>
                    <li class="list-group-item">
                      <label class="form-label">Shape ID</label>
                        <input
                          class="form-control"
                          type="text"
                          :id="'shape_section_shape_id_'+shape.getID()"
                          :value="shape.getID()"
                        />
                    </li>

                    <li class="list-group-item">
                      <label class="form-label">Start Node ID</label>
                        <input
                          class="form-control"
                          type="number"
                          list="endpoints_list"
                          :id="'shape_section_start_node_id_'+shape.getID()"
                          :value="shape.getStart()"
                        />
                    </li>
                    <li class="list-group-item">
                      <label class="form-label">End Node ID</label>
                        <input
                          class="form-control"
                          type="number"
                          :id="'shape_section_end_node_id_'+shape.getID()"
                          :value="shape.getEnd()"
                        />
                    </li>
                  </ul>
                </div>
                <div class="col se-col-min-width">
                  <ul class="list-group">
                    <li
                      v-for="waypoint,index in shape_valid_waypoints_list"
                      class="list-group-item"
                    >
                      <label class="form-label">Waypoint {{index + 1}}</label>
                          <div class="d-flex flex-row">
                              <div class="p-2">
                                  <input
                                      class="form-control"
                                      type="number"
                                      :value="waypoint"
                                  />
                              </div>
                              <div class="p-2">
                                  <button
                                      class="btn btn-danger"
                                      @click="deleteShapeWaypoint(waypoint)"
                                  >
                                      remove
                                  </button>
                              </div>
                          </div>
                    </li>
                    <li class="list-group-item">
                      <button
                        class="btn btn-success"
                        @click="updateShapeByID(shape.getID())"
                      >
                        save
                      </button>
                    </li>
                  </ul>
                  <!-- list-group -->
                </div>
                <!-- class col -->
              </div>
              <!-- class row -->
            </div>
            <!-- container -->
          </div>
          <!-- accordion body  -->
        </div>
      </div>
    </div>
  </div>
  <!-- accordion  -->
</div>
<!-- END SHAPES -->
<!-- {% endverbatim %} -->
