*~
node_modules/*
static/vue.js
dist
build
*.db
db.sqlite3

*.png
*.zip
*.svg

gtfs
venv_server

street_element_group*
__pycache__
src/shapeeditor/static/shapeeditor/vendor/

*.egg-info

src/shapeeditor/static/shapeeditor/fonts/*
src/shapeeditor/static/shapeeditor/js/*

_*

styles/fonts

*.bkp