<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Shape Editor - Alpha</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <script src="https://unpkg.com/elm-pep"></script>
  <script src="https://unpkg.com/vue"></script>

  <!-- <script src="js/jquery.min.js"></script>
       <script src="js/skel.min.js"></script>
       <script src="js/skel-layers.min.js"></script>
       <script src="js/init.js"></script>
  -->
  <link rel="stylesheet" href="http://161.35.54.122/css/skel.css" />
  <link rel="stylesheet" href="http://161.35.54.122/css/style.css" />
  <link rel="stylesheet" href="http://161.35.54.122/css/style-xlarge.css" />
  <link rel="stylesheet" href="http://161.35.54.122/css/editor-style.css" />

    <!-- OpenLayers style lib -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <link rel="stylesheet" href="css/ol.css" type="text/css">

 </head>
 <body>

      <div class="sidetools">
          <!-- <a href="#">About</a>
               <a href="#">Services</a>
               <a href="#">Clients</a>
               <a href="#">Contact</a> -->
          <form>
              <label>Projection </label>
              <select id="projection">
                  <option value="EPSG:4326">EPSG:4326</option>
                  <option value="EPSG:3857">EPSG:3857</option>
              </select>

              <label>Precision </label>
              <select id="precision">
                  <option value="4">P: 4</option>
                  <option value="5">P: 5</option>
                  <option value="6">P: 6</option>
                  <option value="7">P: 7</option>
                  <option value="8">P: 8</option>
                  <option value="9">P: 9</option>
                  <option value="10">P: 10</option>
                  <option value="11">P: 11</option>
                  <option value="12">P: 12</option>
              </select>

              <label>Type </label>
              <select id="node_type">
                  <option value="shape">shape</option>
                  <option value="endpoint">endpoint</option>
                  <option value="stop">stop</option>
                  <!-- <option value="endpoint">end point</option> -->
                  <option value="fork">intersec.</option>
              </select>

              <label>Action </label>
              <select id="action">
                  <option value="add">add</option>
                  <option value="select">select</option>
                  <option value="edit">edit</option>
                  <option value="move">move</option>
                  <option value="remove">remove</option>
              </select>
          </form>
      </div>
      <div class="body-container">

          <div>
              <h1 id="mouse-position"></h1>
          </div>

          <div id="map_container" class="map_container">
          </div>

          <!-- ----------------- key command board ------------------------ -->

          <!-- TODO -->
					<div id="app" class="table-wrapper">
              <h1 v-if="last.lastSelect">Selected: {{ last.lastSelect.getID }} /--/ element type = {{ last.lastSelect.type }}</h1>
							<table class="alt">
									<thead>
										  <tr>
                          <th>shape_id</th>
											    <th>shape_pt_lat</th>
											    <th>shape_pt_lon</th>
                          <th>shape_pt_sequence</th>
                          <th>shape_dist_traveled</th>
										  </tr>
									</thead>
									<tbody>
										  <tr v-for="shape in shapes">
											    <td>A_shp</td>
                          <td>{{shape.coordinates[0]}}</td>
											    <td>{{shape.coordinates[1]}}</td>
                          <td>{{shape.getID}}</td>
											    <td>{{shape.feature.ol_uid}}</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2"></td>
											<td>{{shapes.length}}</td>
										</tr>
									</tfoot>
								</table>
						</div>


          <!-- --------------  END key command board  --------------------- -->

          map: OpenStreetMap;; style sheets (btns): TEMPLATE.co
      </div>
      <!-- OpenLayers library we use to show the map and draw on it -->
      <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

      <!-- editor configuration -->
      <script src="js/gtfs_shape_editor_lib.js"></script>

      <!-- variables and listeners -->
      <script src="js/map_main.js"></script>

 </body>
</html>
