<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
        <title>Shape Editor - Alpha</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <!-- CSS only Bootstrap -->
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="css/editor-style.css" />

        <!-- OpenLayers style lib -->
        <link rel="stylesheet" href="node_modules/ol/ol.css" type="text/css">
        <link rel="stylesheet" href="css/ol_popup.css" type="text/css">

    </head>
    <body>
        <div id="loading_screen"  class="loading_screen">
            <img alt="loading_gif" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ab79a231234507.564a1d23814ef.gif"/> <!-- FIXME -->
        </div>
        <div id="editor_gtfs">
            <div class="body-container">
                <!-- <div v-show="alerts.length" id="notification_banner" class="notification_banner">
                     <div class="alert alert-primary" role="alert">
                     This is a primary alert—check it out!
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                     </div>
                     </div> -->
                <div class="toolbar">
                    <button class="btn btn-primary" onclick="bundle.downloadHistoryArray()">
                        Save
                    </button>
                    <button class="btn btn-primary" @click="map_hidden=!map_hidden">
                        Map
                    </button>
                    <button class="btn btn-primary" @click="toggleDict()">
                        {{ dict.lang == 'es_CR' ? 'en_US' : 'es_CR' }}
                    </button>
                </div>
                <div id="fullscreen-view" class="fullscreen">
                    <!-- OpenLayers + OpenStreetMap -->
                    <div id="map_container" class="map_container">
                        <div id="custom_control_interaction" class="custom_control_interaction">
                            <div class="nav justify-content-left">
                                <div class="dropdown map-tool-item">
                                    <button class="btn btn-secondary dropdown-toggle"
                                            type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                        Map interaction
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
                                        <li><a @click="map_action='select'" :class="['dropdown-item', {'active': map_action=='select'}]" href="#">Select node</a></li>
                                        <li><a @click="map_action='add'" :class="['dropdown-item', {'active': map_action=='add'}]" href="#">Add node</a></li>
                                        <li><a @click="map_action='split'" :class="['dropdown-item', {'active': map_action=='split'}]" href="#">Split link</a></li>
                                        <li><a @click="map_action='remove'" :class="['dropdown-item', {'active': map_action=='remove'}]" href="#">Remove node</a></li>
                                        <li><a @click="map_action='cut'" :class="['dropdown-item', {'active': map_action=='cut'}]" href="#">Delete link</a></li>
                                    </ul>
                                </div>

                                <div class="dropdown map-tool-item">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Node type
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a @click="map_node_type='shape'" :class="['dropdown-item', {'active': map_node_type=='shape'}]" href="#">Shape</a></li>
                                    <li><a @click="map_node_type='endpoint'" :class="['dropdown-item', {'active': map_node_type=='endpoint'}]" href="#">Endpoint</a></li>
                                    <li><a @click="map_node_type='stop'" :class="['dropdown-item', {'active': map_node_type=='stop'}]" href="#">Stop</a></li>
                                    <li><a @click="map_node_type='fork'" :class="['dropdown-item', {'active': map_node_type=='fork'}]" href="#">Intersection</a></li>
                                </ul>
                            </div>

                            <div class="btn-group map-tool-item" role="group" aria-label="Basic example">
                                <button type="button" @click="map_view_nodes=!map_view_nodes"
                                        :class="['btn', 'map-tool-item-group-btn', { 'btn-primary': !map_view_nodes }, { 'btn-success': map_view_nodes }]"
                                >{{map_view_nodes? 'Hide': 'Show'}} nodes</button>

                                <button type="button" @click="map_view_links=!map_view_links"
                                        :class="['btn', 'map-tool-item-group-btn', { 'btn-primary': !map_view_links }, { 'btn-success': map_view_links }]"
                                >{{map_view_links? 'Hide': 'Show'}} links</button>

                                <button type="button" @click="map_view_stops=!map_view_stops"
                                        :class="['btn', 'map-tool-item-group-btn', { 'btn-primary': !map_view_stops }, { 'btn-success': map_view_stops }]"
                                >{{map_view_stops? 'Hide': 'Show'}} stops</button>
                            </div>


                        </div>
                        </div>
                    </div>
                </div>

            <!-- ----------------- key command board ------------------------ -->

            <!-- TODO -->
            <div class="table-wrapper">
                <div id="popup_node_info" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content">
                        Node ID: {{ popup_content.id }}<br>
                        <label for="ol_node_type">Node type: </label>
                        <select id="ol_node_type" name="ol_node_type" v-model="popup_content.type">
                            <option value="fork">
                                Intersection
                            </option>
                            <option v-if="popup_content.connections < 3" value="shape">
                                Shape
                            </option>
                            <option v-if="popup_content.connections < 3" value="stop">
                                Stop
                            </option>
                            <option v-if="popup_content.connections < 3" value="endpoint">
                                Endpoint
                            </option>
                        </select>

                        <div v-show="popup_node_type_is_stop">
                            <label for="ol_in_stop_id">Stop ID: </label>
                            <input type="text" id="ol_in_stop_id" name="ol_in_stop_id" placeholder="Stop ID" :value="popup_content.stop_info.stop_id"/>
                            <label for="ol_in_stop_name">Stop name: </label>
                            <input type="text" id="ol_in_stop_name" name="ol_in_stop_name" placeholder="Stop Name" :value="popup_content.stop_info.stop_name"/>
                        </div>

                        <button @click="changeNodeInfoFromPopup(popup_content.id)">save</button>
                    </div>
                </div>

                <ul class="nav nav-tabs nav-fill h_menu" id="h_menu" role="tablist">
                    <li v-for="element in [ 'agency', 'shapes', 'stops', 'routes', 'trips', 'stop_times', 'calendar', 'scheme' ]"
                        class="nav-item" role="presentation">
                        <button class="nav-link" :id="'nav-'+element+'-tab'"
                                data-bs-toggle="tab" :data-bs-target="'#nav-'+element"
                                type="button" role="tab" :aria-controls="'nav-'+element"
                                aria-selected="true">{{dict[element]}}</button>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- SHAPES -->
                    <div class="tab-pane fade" id="nav-shapes" role="tabpanel" aria-labelledby="nav-shapes-tab">
                        <div class="container shapes-section-menu">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="file_gtfs_shapes_input">Upload shapes.txt file</label><br>
                                    <input type="file" class="form-control disabled"
                                           accept="plain/text,.txt"
                                           id="file_gtfs_shapes_input" name="file_gtfs_shapes_input" disabled>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="file_gtfs_shapes_output">Download shapes.txt file</label><br>
                                    <button class="btn btn-primary form-control disabled"
                                            id="file_gtfs_shapes_output" name="file_gtfs_shapes_output"> Save </button>
                                </div>
                            </div>
                        </div>

                        Add a new shape:<br>
                        <table class="table"><tr>
                            <th><input id="new_shape_id" name="new_shape_id" type="text" placeholder="Shape ID" /></th>
                            <th>
                                {{new_shape_sequence}}
                            </th>

                            <!-- new segment (a node and a link for direction)-->
                            <th v-show="!ns_segments.length">
                                <select @change="newShapeOnChange($event, 'node')">
                                <option value="noselect"> - </option>
                                <option v-for="node in new_shape_allowed_nodes" :value="node.getID()">E{{node.getID()}}</option>
                                </select>
                            </th>

                            <!-- allowed links -->
                            <th v-show="ns_allowed_links.length">
                                <select id="ns_shape_link_select" @change="newShapeOnChange($event, 'link')">
                                   <option value="noselect"> - </option>
                                   <option v-for="link in ns_allowed_links" :value="link.getID()">L{{link.getID()}}</option>
                                </select>
                            </th>

                            <!-- element to add new segments in shape? -->
                            <th><button @click="saveShapeStop()" v-show="ns_segments.length">abort</button></th>
                            <th><button @click="saveShape()">add</button></th>
                        </tr></table>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        {{ dict.shape_id }}
                                    </th>
                                    <th>{{ dict.shape_sequence }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="shape in rev_shapes" :key="shape.getID()">
                                    <td>
                                        <input type="radio" :id="'shapeOnMap_' + shape.getID()" name="shapeOnMap" :value="shape.getID()" checked="false">
                                        <label :for="'shapeOnMap_' + shape.getID()">
                                            {{ shape.getID() }}
                                        </label>
                                    </td>
                                    <!-- <td>{{shape.getSequenceText()}}</td> // REMOVE method -->
                                    <td>
                                        <a class="black_text" v-for="segment in shape.getSegments()" @click="focusNodeOnMapByID(segment[0])">
                                            <span class="orange_text">n{{segment[0]}}</span><span class="green_text">l{{segment[1]}}</span>,
                                        </a>
                                        <a class="orange_text" @click="focusNodeOnMapByID(shape.getSegments()[shape.getSegments().length -1][2])">
                                            n{{shape.getSegments()[shape.getSegments().length -1][2]}}
                                        </a>
                                    </td>
                                    <td><button class="button error" @click="removeShape(shape.getID())">remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END SHAPES -->

                    <!-- AGENCY -->
                    <div class="tab-pane fade" id="nav-agency" role="tabpanel" aria-labelledby="nav-agency-tab">
                        <table class="table" style="table-layout: fixed; width: 100%; word-wrap: break-word;">
                            <thead>
                                <tr>
                                    <th v-for="field in agencyFields">{{ dict[field] }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" id="agency_id"       placeholder="ID" required></td> <!-- required TODO -->
                                    <td><input type="text" id="agency_name"     placeholder="Name" required></td>
                                    <td><input type="text" id="agency_url"      placeholder="URL" required></td>
                                    <td><input type="text" id="agency_timezone" placeholder="Continent/Region" required></td>
                                    <td><input type="text" id="agency_lang"     placeholder="Language"></td>
                                    <td><input type="text" id="agency_phone"    placeholder="+0 8888 8888"></td>
                                    <td><input type="text" id="agency_email"    placeholder="example@corp.com"></td>
                                    <td><button @click="saveAgency">add</button></td>
                                </tr>
                                <tr v-for="agency in rev_agencies">
                                    <td v-for="field in agencyFields" >{{agency.getInfo()[field.substring(7)]}}</td>
                                    <td><button class="button error" @click="removeAgency(agency.getID())">remove</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- END AGENCY -->

                    <!-- STOPS -->
                    <div class="tab-pane fade" id="nav-stops" role="tabpanel" aria-labelledby="nav-stops-tab">
                        <div class="container stops-section-menu">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="file_gtfs_stops_input">Upload stops.txt file</label><br>
                                    <input type="file" class="form-control"
                                           accept="plain/text,.txt"
                                           id="file_gtfs_stops_input" name="file_gtfs_stops_input">
                                </div>
                                <div class="col">
                                    <label class="form-label" for="file_gtfs_stops_output">Download stops.txt file</label><br>
                                    <button class="btn btn-primary form-control"
                                            id="file_gtfs_stops_output" name="file_gtfs_stops_output"
                                            onclick="bundle.downloadStopsCSV()"
                                    > Save </button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="accordion_stops_section">
                            <div v-for="(sub_array, sub_array_index) in rev_stops">
                                <div v-show="sub_array_index == page_indicator_stops_selected" v-for="stop in sub_array" class="accordion-item">
                                    <h2 class="accordion-header" :id="'heading'+stop.getID()">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                :data-bs-target="'#collapse'+stop.getID()" aria-expanded="false"
                                                :aria-controls="'collapseTwo'+stop.getID()"
                                                @click="focusNodeOnMapByID(stop.getID())">
                                            <strong>Stop ID>> </strong>  {{ stop.getStopInfo().stop_id }}
                                        </button>
                                    </h2>
                                    <div :id="'collapse'+stop.getID()" class="accordion-collapse collapse"
                                         :aria-labelledby="'heading'+stop.getID()" data-bs-parent="#accordion_stops_section">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <button class="btn btn-success" @click="changeNodeInfoFromStopSection(stop.getID())">save</button>
                                                            </li>
                                                            <li v-for="field in stopFields.slice(0,6)" class="list-group-item">
                                                                <label :for="'stop_section_'+field+stop.getID()" class="form-label">{{dict[field]}}</label>
                                                                <td><input class="form-control" type="text" :id="'stop_section_'+field+stop.getID()" :value="stop.getStopInfo()[field]" :placeholder="dict[field]"></td>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col">
                                                        <ul class="list-group">
                                                            <li v-for="field in stopFields.slice(6)" class="list-group-item">
                                                                <label :for="'stop_section_'+field+stop.getID()" class="form-label">{{dict[field]}}</label>
                                                                <td><input class="form-control" type="text" :id="'stop_section_'+field+stop.getID()" :value="stop.getStopInfo()[field]" :placeholder="dict[field]"></td>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <button class="btn btn-success" @click="changeNodeInfoFromStopSection(stop.getID())">save</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example"><!-- TODO -->
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" @click="decreaseStopPageSelector()">Previous</a></li>

                                <li v-for="number in page_indicator_stops" :class="['page-item', {'active': (number - 1) == page_indicator_stops_selected }]">
                                    <a class="page-link" @click="page_indicator_stops_selected = number -1">{{number}}</a></li>

                                <li class="page-item"><a class="page-link" @click="increaseStopPageSelector()">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- END STOPS -->

                    <!-- ROUTES -->
                    <div class="tab-pane fade" id="nav-routes" role="tabpanel" aria-labelledby="nav-routes-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th v-for="field in routeFields">{{ dict[field] }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <th v-for="field in routeFields"><input type="text" :id="field"></th> -->
                                    <td><input type="text" id="r_route_id" placeholder="Route ID"></td>
                                    <td><select id="r_agency_id">
                                        <option v-for="agency in rev_agencies" :value="agency.getID()">{{agency.getID()}}</option>
                                    </select></td>
                                    <td><input type="text" id="r_route_short_name" placeholder="Short name"></td>
                                    <td><input type="text" id="r_route_long_name" placeholder="Long name"></td>
                                    <td><select id="r_route_type">
                                        <option v-for="routeType in r_routeType" :value="routeType.value">{{routeType.name}}</option>
                                    </select></td>
                                    <td><button @click="saveRoute">add</button></td>
                                </tr>
                                <tr v-for="route in rev_routes">
                                    <td >{{route.getID()}}</td>
                                    <td >{{route.getInfo().agency_id}}</td>
                                    <td >{{route.getInfo().short_name}}</td>
                                    <td >{{route.getInfo().long_name}}</td>
                                    <td >{{route.typeToText()}}</td>
                                    <td><button class="button error" @click="removeRoute(route.getID())">remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END ROUTES -->

                    <!-- CALENDAR -->
                    <div class="tab-pane fade" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th v-for="field in calendarFields">{{ dict[field] }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" id="c_service_id"></td>
                                    <td v-for="field in calendarCheckboxFields">
                                        <input type="checkbox" :id="field" checked="true">
                                        <!-- <label for="view_nodes_cb">{{field}}</label><br> -->
                                    </td>
                                    <td><input type="date" id="c_start_day"></td>
                                    <td><input type="date" id="c_end_day"></td>
                                    <td><button @click="saveCalendar">add</button></td>
                                </tr>
                                <tr v-for="service in rev_services">
                                    <td>{{ service.getID() }}</td>
                                    <td v-for="status in service.getServiceDays()">
                                        <div v-if="status" class="green_text">
                                            active
                                        </div>
                                        <div v-if="!status" class="red_text">
                                            inactive
                                        </div>
                                        <!-- status ? "active" : "inactive" -->
                                    </td>
                                    <td>
                                        {{ service.getInfo().start_day }}
                                    </td>
                                    <td>
                                        {{ service.getInfo().end_day }}
                                    </td>
                                    <td><button class="button error" @click="removeCalendar(service.getID())">remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END CALENDAR -->

                    <!-- TRIPS -->
                    <div class="tab-pane fade" id="nav-trips" role="tabpanel" aria-labelledby="nav-trips-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th v-for="field in tripFields">{{ dict[field] }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select id="t_route_id">
                                            <option v-for="route in rev_routes" :value="route.getID()">{{route.getID()}}</option>
                                        </select>
                                    </td>
                                    <td><input type="text" id="t_trip_id"></td>
                                    <td><select id="t_direction_id">
                                        <option value="0">{{ dict["outbound_travel"] }}</option>
                                        <option value="1">{{ dict["inbound_travel"] }}</option>
                                    </select></td>
                                    <td><select id="t_shape_id">
                                        <option v-for="shape in rev_shapes" :value="shape.getID()">{{shape.getID()}}</option>
                                    </select></td>
                                    <td><button @click="saveTrip">add</button></td>
                                </tr>
                                <tr v-for="trip in rev_trips">

                                    <td>{{trip.getInfo().route_id        }}</td>
                                    <td>{{trip.getID()                   }}</td>
                                    <td>{{trip.getInfo().direction_id == "0" ? dict["outbound_travel"] : dict["inbound_travel"] }}</td>
                                    <td>{{trip.getInfo().shape_id        }}</td>

                                    <td><button class="button error" @click="removeTrip(trip.getID())">remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END TRIPS -->

                    <!-- STOPTIMES -->
                    <div class="tab-pane fade" id="nav-stop_times" role="tabpanel" aria-labelledby="nav-stop_times-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th v-for="field in stopTimeFields">{{ dict[field] }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select id="st_trip_id">
                                            <option v-for="trip in rev_trips" :value="trip.getID()">{{trip.getID()}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select @change="focusNodeOnMapByID(in_st_stop_id)" id="st_stop_id" v-model="in_st_stop_id">
                                            <!-- It saves the node ID instead the stop id, the node ID is unmutable -->
                                            <option v-for="stopnode in stopsWhenTrip" :value="stopnode.getID()">{{stopnode.getStopInfo().id}}: {{stopnode.getStopInfo().name ? stopnode.getStopInfo().name : "no name"}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="time" id="st_arrival_time" placeholder="HH:MM AM">
                                    </td>
                                    <td>
                                        <input type="time" id="st_departure_time" placeholder="HH:MM PM">
                                    </td>
                                    <td><button @click="saveStopTime">add</button></td>
                                </tr>
                                <tr v-for="stoptime in rev_stoptimes">
                                    <td>{{stoptime.getInfo().trip_id}}</td>
                                    <td>{{nodes[stoptime.getID()].getStopInfo().id}}: {{nodes[stoptime.getID()].getStopInfo().name}}</td> <!-- FIXME: dont use stop id as node id -->
                                    <td>{{stoptime.getInfo().arrival_time}}</td>
                                    <td>{{stoptime.getInfo().departure_time}}</td>
                                    <td><button class="button error" @click="removeStopTime(stoptime.getInfo().trip_id, stoptime.getID())">remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END STOPTIMES -->

                    <!-- SCHEME -->
                    <div class="tab-pane fade" id="nav-scheme" role="tabpanel" aria-labelledby="nav-scheme-tab">
                        <table class="table" v-for="service in rev_services">
                            <thead>
                                <tr>
                                    <th>{{ dict.c_service_id }}</th>
                                    <th>active</th> <!-- FIXME -->
                                    <th>{{ dict.t_trip_id }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="trip in rev_trips">
                                    <td>
                                        {{ service.getID() }}
                                    </td>
                                    <td>
                                        <input @change="changeScheme($event, service.getID(), trip.getID())" name="sc_trip_cb"
                                               type="checkbox" :checked="isActiveTrip(service.getID(), trip.getID())">{{trip.getID()}}</input>
                                        <!-- <label for="label_id_todo">Label</label><br> -->
                                    </td>
                                    <td>
                                        {{ trip.getID() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END SCHEME -->
                </div>
            </div>

            <!-- --------------  END key command board  --------------------- -->
        </div></div>
    </body>
    <footer>
        <!-- Axios to post data
             <script src="https://unpkg.com/axios/dist/axios.min.js"></script> TODO Remove, it's not used anymore
        -->

        <!-- editor history / file loaded FIXME remove-->
        <script src="js/street_element_group_history.js"></script>

        <!-- Map GTFS elements -->
        <script src="dist/bundle.js"></script>

        <!-- JavaScript Bundle for Bootstrap -->
        <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </footer>
</html>
