/*
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format('truetype');
}

* {
    font-family: 'Poppins', sans-serif;
}
*/
body {
    overflow-x: hidden;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.map_container {
    background: #e2efef;
    margin-left: 1ch;
    margin-right: 1ch;
    height: 100%;
}

.toolbar {
    position: sticky; /* sticky Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 10px; /* Stay at the top */
    background-color: #417690;
    opacity: 0.85;
    color: black;
    padding: 6px 14px;
    border-radius: 15px;
    margin: 10px 10px;
    max-width: calc(100% - 20px);
}

.stops-section-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fullscreen:-webkit-full-screen {
    height: 100%;
    margin: 0;
}
.fullscreen:-ms-fullscreen {
    height: 100%;
}

.fullscreen:fullscreen {
    height: 100%;
}

.fullscreen {
    /*margin-bottom: 50px;*/
    width: 100%;
    height: 70vh;
}

.map_container:-webkit-full-screen {
    top: 50px;
    width: 10%;
}

.map_container:-ms-fullscreen {
    top: 50px;
    width: 10%;
}

.map_container:fullscreen {
    top: 50px;
    width: 10%;
}

.h_menu {
    margin-top: 12px;
}

.pointer-coor {
    background-color: white;
	  min-width: 20ch;
    padding: 3px 3px;
    border-radius: 4px;
}

.se-horizontal-menu {
    margin-top: 2ch;
}

.se-sections-content{
    margin-top: 1.1cm;
    margin-left: 4ch;
    margin-right: 4ch;
    margin-bottom: 2cm;
}

.se-accordion-top-sp{
    margin-top: 0.6cm;
}

.se-col-min-width{
    min-width: 25ch;
}

.se-add-new-item-menu{
    margin-top: 0.6cm;
    margin-bottom: 0.6cm;
    padding-top: 0.6cm;
}

.se-input-margin{
    margin-top: 0.75ch;
}
